<% layout("layouts/boilerplate.ejs") -%>
    <body>
        <form method="POST"" action="/listings/<%=listing._id%>?_method=PUT">
            <h3>Create New LIsting</h3>
            <br>
            <input type="text" name="listing[title]" placeholder="enter a title"
                value="<%=listing.title%>">
            <br>
            <br>
            <textarea name="listing[description]"
                placeholder="write a description"><%=listing.description%>        </textarea>
            <br>
            <br>
            <input type="text" name="listing[image]" placeholder="image url"
                value="<%=listing.image%>">
            <br>
            <br>
            <input type="number" name="listing[price]"
                placeholder="enter a price" value="<%=listing.price%>">
            <br>
            <br>
            <input type="text" name="listing[country]"
                placeholder="enter a country" value="<%=listing.country%>">
            <br>
            <br>
            <input type="text" name="listing[location]"
                placeholder="enter a location" value="<%=listing.location%>">

            <br>
            <br>
            <button>submit</button>
        </form>
    </body>
