<% layout("layouts/boilerplate.ejs") -%>
    <body>

        <h1>All Listing</h1>

        

        <ul>
            <% for(list of allListing){%>
            <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>
            <%}%>
        </ul>
        <ul>
            <% for(list of allListing){%>
            <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>
            <%}%>
        </ul>
        <ul>
            <% for(list of allListing){%>
            <li><a href="/listings/<%=list._id%>"><%= list.title %></a></li>
            <%}%>
        </ul>
    </body>
